# Proyecto BBDD

## Importamos librerías

In [24]:
import os
import sqlite3
from datetime import datetime
import pandas as pd

import psycopg2

print("Librerías importadas correctamente")

Librerías importadas correctamente

## Importamos y limpiamos los CSV

In [26]:
# Importamos los csv con los datos del ejercicio
df_alumnos_1= pd.read_csv('Data/Clase_1.csv', sep= ";")
df_alumnos_2= pd.read_csv('Data/Clase_2.csv', sep= ";")
df_alumnos_3= pd.read_csv('Data/Clase_3.csv', sep= ";")
df_alumnos_4= pd.read_csv('Data/Clase_4.csv', sep= ";")
df_profesores= pd.read_csv('Data/Claustro.csv', sep= ";")

In [27]:
df_alumnos= pd.concat([df_alumnos_1, df_alumnos_2, df_alumnos_3, df_alumnos_4], ignore_index= True)
df_alumnos.head(5)

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN

## Conectamos el Notebook a la base de datos

In [ ]:
# Creamos la conexión al servidor de Render

connection = psycopg2.connect(
        host= 'dpg-d41069hr0fns739r6gq0-a.oregon-postgres.render.com',
        database= 'bootcamp_z1q7',
        user= 'bootcamp_z1q7_user',
        password= '4MDOTwmhpav1upPCxzDtPrNStbgNmb2X',
        port= 5432
        ) 

cursor = connection.cursor()

In [ ]:
# Con pgAdmin 4 vinculado a Render modificamos las tablas
# Comprobación de que funciona:

cursor.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public';
""")
tablas = cursor.fetchall()
print("Tablas en la base de datos:")
for tabla in tablas:
    print(tabla[0])

Tablas en la base de datos:
Alumnos
Campus
Vertical
Promo
Clases
Profesores
Matriculas
Asignaciones
Expediente

## Rellenamos tablas

#### Tabla: Alumnos

In [30]:
# Función robada al profe para crear emails porque ciertamente son todos nombre + apellido@...

def generar_email(nombre, apellido):
    return f"{nombre.lower()}.{apellido.lower()}@gmail.com"

In [34]:
# Rellenamos cada alumno con nombre e email con un bucle

for index, row in df_alumnos.iterrows():
    cursor.execute('''
    INSERT INTO "Alumnos" ("Nombre", "email")
    VALUES (%s, %s)
    ''', (
        row['Nombre'], 
        row['Email']
    ))

connection.commit()

In [ ]:
# SI ALGO FALLA EJECUTAR ESTO ANTES DE SEGUIR
connection.rollback()